<body class=" flex items-start justify-center h-screen mt-12">
  <div class="bg-[#FFFEF8] p-12 rounded-lg  max-w-md w-full sm:bg-[#FFFEF8] sm:shadow-lg">
      <h2 class="text-3xl font-bold mb-8 text-center">Iniciar sesión</h2>
      <form #formulario = "ngForm" (ngSubmit)="login(formulario)">
          <div class="mb-6">
              <label for="email" class="block text-lg font-medium text-gray-700">Correo electrónico</label>
              <input type="email" id="email" name="email" ngModel class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" required>
          </div>
          <div class="mb-6">
              <label for="password" class="block text-lg font-medium text-gray-700">Contraseña</label>
              <input type="password" id="password" name="password" ngModel class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" required>
          </div>
          <div class="flex items-center justify-between">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline">Ingresar</button>
              <a href="#" class="text-lg text-blue-500 hover:text-blue-700">¿Olvidaste tu contraseña?</a>
          </div>
      </form>
  </div>
</body>
