
<div class="flex h-screen w-screen overflow-hidden">
  <div class=" w-full border-blue-300 my-8 mx-8 overflow-auto relative">
    <form class="flex flex-col items-center h-min absolute w-full">
      <header class="flex flex-col gap-8 items-center my-8">
        <h3 class="text-3xl font-bold flex text-center items-center">Actualizar empleados</h3>
        <img src="assets/img/registroEmpleado.webp" class="h-auto max-h-60 aspect-auto">
      </header>
      <article class="w-full flex flex-col items-center">
        <div class="flex w-4/5 items-center flex-wrap">
          <span class="text-lg font-bold m-4 mr-0 block w-1/6">Nombre:</span><input type="text" name = "nombre" [(ngModel)] = "textNombre" placeholder="Nombre" class=" ml-4 items-start border-2 w-3/4 border-sky-100 rounded">
        </div>
        <div class="flex w-4/5 items-center flex-wrap">
          <span class="text-lg font-bold m-4 mr-0 block w-1/6">Apellido:</span><input type="text" name = "apellido" [(ngModel)] = "textApellido" placeholder="Apellido" class="ml-4 border-2 items-start w-3/4 border-sky-100 rounded">
        </div>
        <div class="flex w-4/5 items-center flex-wrap">
          <span class="text-lg font-bold m-4 mr-0 block w-1/6">Cargo:</span><input type="text" name = "cargo" [(ngModel)] = "textCargo" placeholder="Cargo" class="ml-4 items-start border-2 w-3/4 border-sky-100 rounded">
        </div>
        <div class="flex w-4/5 items-center flex-wrap">
          <span class="text-lg font-bold m-4 mr-0 block w-1/6">Sueldo:</span><input type="number" name = "sueldo" [(ngModel)] = "textSueldo" placeholder="Sueldo" class="ml-4 border-2 items-start w-3/4 border-sky-100 rounded">
        </div>
      </article>
      <footer class="my-8 items-center w-full flex justify-center flex-wrap gap-4">
        <button type="button" (click)="ActualizaEmpleado()" class="bg-blue-500 rounded border-2 py-2 px-4 text-center text-white font-bold">Actualizar</button>
        <button type="button" (click)="EliminarEmpleado()" class="bg-blue-500 rounded border-2 py-2 px-4 text-center text-white font-bold">Eliminar</button>
      </footer>
    </form>
  </div>
</div>
